/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.login
{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#2b1855, #7597de);
  width: 50%;
  height: 450px;
  
  /* background-color: red; */
}
.register{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#2b1855, #7597de);
  width: 50%;
  height: 450px;
  /* background-color: red; */
}


.App {
  background-color: #fefefe;
  height: 100vh;
  width: 100%;
}


.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Change this line to move the search bar to the top */
  min-width: 200px;
}

